@model JobsProjectApp.Models.Categories

@{
    ViewBag.Title = "Details";
}

<h2>Details Of Category</h2>

<div>
    
    <br />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.cat_id)*@
            <h4> Category Id</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_id)
        </dd>

        <dt>
            <h4> @Html.DisplayNameFor(model => model.cat_name)</h4>
       </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index",null,new { @class = "btn btn-primary" })
</p>
